In [1]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [2]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [3]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [4]:
y.is_leap_year

True

In [5]:
m = pd.Period('2017-11',freq="M")
m

Period('2017-11', 'M')

In [6]:
m.start_time

Timestamp('2017-11-01 00:00:00')

In [7]:
m.end_time

Timestamp('2017-11-30 23:59:59.999999999')

In [8]:
m+1

Period('2017-12', 'M')

In [9]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [10]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [11]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [12]:
d+2

Period('2016-03-01', 'D')

In [13]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [14]:
h+4

Period('2017-08-16 03:00', 'H')

In [15]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

In [16]:
q1= pd.Period('2017Q1')

In [17]:
q1

Period('2017Q1', 'Q-DEC')

In [18]:
q1.start_time

Timestamp('2017-01-01 00:00:00')

In [19]:
q1.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [20]:
q1= pd.Period('2017Q1', freq='Q-JAN')

In [21]:
q1

Period('2017Q1', 'Q-JAN')

In [22]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [23]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [24]:
q1.asfreq('M',how='start')

Period('2016-02', 'M')

In [25]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

In [26]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [27]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [28]:
ind=pd.period_range("2011",'2021',freq="Q")

In [29]:
ind

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2',
             '2018Q3', '2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4',
             '2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [30]:
ind[0].start_time

Timestamp('2011-01-01 00:00:00')

In [31]:
ind[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [32]:
ind=pd.period_range("2011",periods=11,freq="Q")

In [33]:
ind

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [34]:
import numpy as np
ps = pd.Series(np.random.randn(len(ind)), ind)
ps

2011Q1    0.562309
2011Q2   -1.154732
2011Q3   -0.941337
2011Q4    0.860425
2012Q1    0.935453
2012Q2   -0.310681
2012Q3    0.142956
2012Q4    1.415662
2013Q1    0.257117
2013Q2   -0.482444
2013Q3   -2.031605
Freq: Q-DEC, dtype: float64

In [35]:
ps.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [36]:
ps['2011']

2011Q1    0.562309
2011Q2   -1.154732
2011Q3   -0.941337
2011Q4    0.860425
Freq: Q-DEC, dtype: float64

In [37]:
ps['2011':'2021']

2011Q1    0.562309
2011Q2   -1.154732
2011Q3   -0.941337
2011Q4    0.860425
2012Q1    0.935453
2012Q2   -0.310681
2012Q3    0.142956
2012Q4    1.415662
2013Q1    0.257117
2013Q2   -0.482444
2013Q3   -2.031605
Freq: Q-DEC, dtype: float64

In [38]:
pst = ps.to_timestamp()
pst

2011-01-01    0.562309
2011-04-01   -1.154732
2011-07-01   -0.941337
2011-10-01    0.860425
2012-01-01    0.935453
2012-04-01   -0.310681
2012-07-01    0.142956
2012-10-01    1.415662
2013-01-01    0.257117
2013-04-01   -0.482444
2013-07-01   -2.031605
Freq: QS-OCT, dtype: float64

In [39]:
df=pd.read_csv("WMT.csv")

In [40]:
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [41]:
df.set_index("Line Item",inplace=True)

In [42]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [43]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [44]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [45]:
df.index=pd.PeriodIndex(df.index,freq="Q-jan")

In [46]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [47]:
df["start date"]=df.index.map(lambda x:x.start_time)

In [48]:
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [49]:
df["end date"]=df.index.map(lambda x:x.end_time)

In [50]:
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999