In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("aapl_no_dates.csv")

In [3]:
df

      open    High     Low   Close    Volume
0   153.17  153.33  152.22  153.18  16404088
1   153.58  155.45  152.89  155.45  27770715
2   154.34  154.45  153.46  153.93  25331662
3   153.90  155.81  153.78  154.45  26624926
4   155.02  155.98  154.48  155.37  21069647
5   155.25  155.54  154.40  154.99  21250798
6   155.19  155.19  146.02  148.98  64882657
7   145.74  146.09  142.51  145.42  72307330
8   147.16  147.45  145.15  146.59  34165445
9   147.50  147.50  143.84  145.16  31531232
10  143.32  144.48  142.21  144.29  32165373
11  143.78  144.50  142.20  142.27  50361093
12  143.66  146.74  143.66  146.34  32541404
13  146.87  146.87  144.94  145.01  24900073
14  145.52  146.07  144.61  145.87  21265751
15  145.77  146.70  145.12  145.63  19106294
16  145.13  147.16  145.11  146.28  35439389

In [4]:
pd.date_range(start="01-01-2021",end="17-01-2021",freq="B")

DatetimeIndex(['2021-01-01', '2021-01-04', '2021-01-05', '2021-01-06',
               '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15'],
              dtype='datetime64[ns]', freq='B')

In [5]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [6]:
usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [7]:
usb

In [12]:
rng=pd.date_range(start="01/01/2021",end="27/01/2021", freq=usb)

In [13]:
df.set_index(rng,inplace=True)

In [15]:
df.head()

              open    High     Low   Close    Volume
2021-01-04  153.17  153.33  152.22  153.18  16404088
2021-01-05  153.58  155.45  152.89  155.45  27770715
2021-01-06  154.34  154.45  153.46  153.93  25331662
2021-01-07  153.90  155.81  153.78  154.45  26624926
2021-01-08  155.02  155.98  154.48  155.37  21069647

In [22]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=4, day=3),#, observance=nearest_workday),
    ]
    
my_bday = CustomBusinessDay(calendar=myCalendar())
pd.date_range('04/01/2021','05/01/2021',freq=my_bday)

DatetimeIndex(['2021-04-01', '2021-04-02', '2021-04-05', '2021-04-06',
               '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-12',
               '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22',
               '2021-04-23', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29', '2021-04-30'],
              dtype='datetime64[ns]', freq='C')

In [36]:
egypt_weekdays = CustomBusinessDay(weekmask=" Sat Sun Mon Tue Wed Thu")
pd.date_range(start="01/01/2021",end="05/01/2021",freq=egypt_weekdays)

DatetimeIndex(['2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
               '2021-01-06', '2021-01-07', '2021-01-09', '2021-01-10',
               '2021-01-11', '2021-01-12',
               ...
               '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-24',
               '2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29', '2021-05-01'],
              dtype='datetime64[ns]', length=103, freq='C')

In [44]:
egypt_weekdays = CustomBusinessDay(calendar=myCalendar(),weekmask=" Sat Sun Mon Tue Wed Thu")
pd.date_range(start="04/01/2021",end="05/01/2021",freq=egypt_weekdays)

DatetimeIndex(['2021-04-01', '2021-04-04', '2021-04-05', '2021-04-06',
               '2021-04-07', '2021-04-08', '2021-04-10', '2021-04-11',
               '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15',
               '2021-04-17', '2021-04-18', '2021-04-19', '2021-04-20',
               '2021-04-21', '2021-04-22', '2021-04-24', '2021-04-25',
               '2021-04-26', '2021-04-27', '2021-04-28', '2021-04-29',
               '2021-05-01'],
              dtype='datetime64[ns]', freq='C')

In [46]:
egypt_weekdays = CustomBusinessDay(weekmask=" Sat Sun Mon Tue Wed Thu",holiday=["2021-04-4"])
pd.date_range(start="04/01/2021",end="05/01/2021",freq=egypt_weekdays)

TypeError: _generate_range() got an unexpected keyword argument 'holiday'