In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv("homeprices.csv")
data

   area  price
0  2600  55000
1  3000  56500
2  3200  61000
3  3600  68000
4  4000  72000
5  5000  71000
6  2500  40000
7  2700  38000
8  1200  17000
9  1000  17900

In [3]:
x=data["area"]
y=data["price"]

In [4]:
def Gradient_Descent(x,y):
    m_slope=c_intercept=0
    n=len(x)
    iteration=5
    learning_rate=0.05
    for i in range(iteration):
        y_pred=m_slope*x+c_intercept
        #cost function (actual_value-pred_value)**2
        cost_function=(1/n)*sum((y-y_pred)**2)
        #cost_function=(1/n)*sum([val**2 for val in (y-y_pred)])
        #derivative in cost function d/dm
        m_dv=-(2/n)*sum(x*(y-y_pred))
        #derivative in cost function d/dc
        c_dv=-(2/n)*sum(y-y_pred)
        
        
        #update value of m(slope) and c(intercept)
        m_slope=m_slope - learning_rate * m_dv
        c_intercept=c_intercept - learning_rate * c_dv
        
        print("m= ",m_slope,"c= ",c_intercept,"cost= ",cost_function,"iteration= ",i)
Gradient_Descent(x,y)

m=  16364000.0 c=  4964.0 cost=  2844066000.0 iteration=  0
m=  -15699590301632.0 c=  -4712822568.400001 cost=  2.569081190906417e+21 iteration=  1
m=  1.5062172593104701e+19 c=  4521477765334669.0 cost=  2.364702065505511e+33 iteration=  2
m=  -1.4450634625837658e+25 c=  -4.3379016374841655e+21 cost=  2.176581992970512e+45 iteration=  3
m=  1.3863925658709697e+31 c=  4.161778868129772e+27 cost=  2.003427510480368e+57 iteration=  4

In [5]:
m=2.03
c=6.094
x=3600
y=m*x+c
y

7314.093999999999

In [6]:
data=pd.read_csv("test_scores.csv")
data
# x=data[]

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [7]:
xi=data["math"]
yi=data["cs"]

In [8]:
class Gradient_Descent:
    def traning(self,xi,yi):
        m_slope=c_intercept=0
        n=len(xi)
        iteration=50
        learning_rate=0.008
        for i in range(iteration):
            y_pred=m_slope*xi+c_intercept
            #cost_function=(1/n)*sum((y-y_pred)**2)
            self.cost_function=(1/n)*sum([val**2 for val in (y-y_pred)])
            m_dv=-(2/n)*sum(xi*(yi-y_pred))
            c_dv=-(2/n)*sum(yi-y_pred)
            m_slope=m_slope - learning_rate * m_dv
            c_intercept=c_intercept - learning_rate * c_dv
            #print("m= ",m_slope,"c= ",c_intercept,"cost= ",cost_function,"iteration= ",i)
            print("m={},c={},cost={} iteration={}".format(m_slope,c_intercept,self.cost_function,i))
obj=Gradient_Descent()
obj.traning(xi,yi)
obj.cost_function

m=79.13440000000001,c=1.1184,cost=53495971.040835984 iteration=0
m=-5836.882539520004,c=-82.35994112000002,cost=5809738.782504089 iteration=1
m=436439.1092389523,c=6158.5362761769,cost=167106100132.68494 iteration=2
m=-32627707.890128233,c=-460405.0018588341,cost=901660663580292.5 iteration=3
m=2439217558.540131,c=34419456.78953996,cost=5.041700738315118e+18 iteration=4
m=-182353664631.80585,c=-2573166979.968385,cost=2.817748479308847e+22 iteration=5
m=13632592510187.02,c=192367600451.30362,cost=1.5748172997827266e+26 iteration=6
m=-1019160097072701.9,c=-14381225156042.686,cost=8.80152835715001e+29 iteration=7
m=7.61914729490489e+16,c=1075127186197759.0,cost=4.9191040460074366e+33 iteration=8
m=-5.696004550040318e+18,c=-8.037552113672486e+16,cost=2.749248043428414e+37 iteration=9
m=4.258280694452045e+20,c=6.008800150284555e+18,cost=1.536532818497958e+41 iteration=10
m=-3.183451542821299e+22,c=-4.492123812751546e+20,cost=8.58755945271894e+44 iteration=11
m=2.3799191393594588e+24,c=3.35827051064993e+22,cost=4.799518530692578e+48 iteration=12
m=-1.7792056934750122e+26,c=-2.510612194322595e+24,cost=2.682412652079878e+52 iteration=13
m=1.3301178377622923e+28,c=1.8769106211939587e+26,cost=1.4991790509869966e+56 iteration=14
m=-9.94383880864241e+29,c=-1.4031611444877895e+28,cost=8.378792223394807e+59 iteration=15
m=7.433922577762912e+31,c=1.0489903862059409e+30,cost=4.682840190209555e+63 iteration=16
m=-5.557532252447888e+33,c=-7.842155797110337e+31,cost=2.6172020575725622e+67 iteration=17
m=4.154760076381245e+35,c=5.862723658372736e+33,cost=1.462733369480099e+71 iteration=18
m=-3.1060604793950054e+37,c=-4.382918368837888e+35,cost=8.175100214368086e+74 iteration=19
m=2.3220622910342642e+39,c=3.2766295236280173e+37,cost=4.568998349898546e+78 iteration=20
m=-1.7359524449741356e+41,c=-2.4495781421449225e+39,cost=2.553576760402963e+82 iteration=21
m=1.2977821063833003e+43,c=1.8312821242696497e+41,cost=1.4271736980195852e+86 iteration=22
m=-9.702099850285761e+44,c=-1.369049699199658e+43,cost=7.976360044870868e+89 iteration=23
m=7.253200752416095e+46,c=1.0234889829584176e+45,cost=4.457924053231771e+93 iteration=24
m=-5.422426275410872e+48,c=-7.651509648259214e+46,cost=2.4914982213173286e+97 iteration=25
m=4.053756088644308e+50,c=5.72019834822027e+48,cost=1.3924784973237124e+101 iteration=26
m=-3.030550825695759e+52,c=-4.276367755796549e+50,cost=7.7824513335743e+104 iteration=27
m=2.2656119673437777e+54,c=3.196973263786589e+52,cost=4.349550020044034e+108 iteration=28
m=-1.6937507013738668e+56,c=-2.3900278537813695e+54,cost=2.4309288379675852e+112 iteration=29
m=1.2662324704118953e+58,c=1.7867628755471802e+56,cost=1.3586267517398526e+116 iteration=30
m=-9.466237669008056e+59,c=-1.3357675176808497e+58,cost=7.5932566256709e+119 iteration=31
m=7.076872351646279e+61,c=9.986075296896015e+59,cost=4.2438106057796214e+123 iteration=32
m=-5.290604782242226e+63,c=-7.465498188518088e+61,cost=2.3718319221347705e+127 iteration=33
m=3.9552075508855186e+65,c=5.581137889085473e+63,cost=1.325597956514851e+131 iteration=34
m=-2.956876843851458e+67,c=-4.1724074335578424e+65,cost=7.408661321729621e+134 iteration=35
m=2.2105339750748323e+69,c=3.119253481562229e+67,cost=4.1406417617299315e+138 iteration=36
m=-1.6525749001420424e+71,c=-2.3319252583014086e+69,cost=2.314171677506148e+142 iteration=37
m=1.2354498195337755e+73,c=1.743325908730129e+71,cost=1.2933721053748377e+146 iteration=38
m=-9.2361093978545e+74,c=-1.3032944401757952e+73,cost=7.228553608280414e+149 iteration=39
m=6.904830569430028e+76,c=9.743309551513593e+74,cost=4.039980996237767e+153 iteration=40
m=-5.1619879257396465e+78,c=-7.284008746619922e+76,cost=2.2579131779926e+157 iteration=41
m=3.8590547700696805e+80,c=5.4454580489637934e+78,cost=1.2619296784069824e+161 iteration=42
m=-2.8849939078971557e+82,c=-4.0709744310486707e+80,cost=7.052824390086307e+164 iteration=43
m=2.1567949522658408e+84,c=3.043423100358961e+82,cost=3.9417673368447405e+168 iteration=44
m=-1.6124001001825472e+86,c=-2.2752351616741986e+84,cost=2.203022346573121e+172 iteration=45
m=1.205415508014523e+88,c=1.7009449130842325e+86,cost=1.2312516302358577e+176 iteration=46
m=-9.011575643026856e+89,c=-1.2716107970211733e+88,cost=6.881367224062062e+179 iteration=47
m=6.73697119624385e+91,c=9.50644554484022e+89,cost=3.845941293358908e+183 iteration=48
m=-5.0364977998203355e+93,c=-7.106931390384198e+91,cost=2.1494659346535985e+187 iteration=49

2.1494659346535985e+187

In [9]:
#x=np.array([1,2,3,4,5])
#y=np.array([5,7,9,11,13])

In [10]:
data = {'area': [1,2,3,4,5], 'price': [5,7,9,11,13]}  
df = pd.DataFrame(data) 
x=df['area']
y=df['price']

In [11]:
class Gradient_Descent:
    def __init__(self):
        self.iteration=10
        self.learning_rate=0.001

    def traning(self,x,y):
        m_slope=c_intercept=0
        n=len(x)
        for i in range(self.iteration):
            y_pred=m_slope*x+c_intercept
            #cost function (actual_value-pred_value)**2
            cost_function=(1/n)*sum((y-y_pred)**2)
            #cost_function=(1/n)*sum([val**2 for val in (y-y_pred)])
            #derivative in cost function d/dm
            m_dv=-(2/n)*sum(x*(y-y_pred))
            #derivative in cost function d/dc
            c_dv=-(2/n)*sum(y-y_pred)


            #update value of m(slope) and c(intercept)
            m_slope=x - self.learning_rate * m_dv
            c_intercept=y - self.learning_rate * c_dv

            #return self.m_slope,self.c_intercept,self.cost_function
            #return("m={},c={},cost={} iteration={}".format(m_slope,c_intercept,cost_function,i))
            return (m_slope,c_intercept,cost_function,i)
            
obj=Gradient_Descent()
obj.traning(x,y)

(0    1.062
 1    2.062
 2    3.062
 3    4.062
 4    5.062
 Name: area, dtype: float64,
 0     5.018
 1     7.018
 2     9.018
 3    11.018
 4    13.018
 Name: price, dtype: float64,
 89.0,
 0)

In [12]:
m=2.021281045682893
c=2.923168672645527
x=13
y=m*x+c
y

29.19982226652314