In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Central_Tendency_discrete_series.csv")
df.astype(int)

    x  f
0   4  3
1   9  2
2  10  7
3  15  4
4  18  5

In [3]:
chill=df["x"]*df["f"]
chill

0    12
1    18
2    70
3    60
4    90
dtype: int64

In [8]:
df["fx"]=chill

In [11]:
df["fx"].mean()

50.0