In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("weight-height.csv")
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [3]:
#use z score to remove outliers
df["zscore"]=(df.Height - df.Height.mean())/df.Height.std()
df.head(20)

   Gender     Height      Weight    zscore
0    Male  73.847017  241.893563  1.943964
1    Male  68.781904  162.310473  0.627505
2    Male  74.110105  212.740856  2.012343
3    Male  71.730978  220.042470  1.393991
4    Male  69.881796  206.349801  0.913375
5    Male  67.253016  152.212156  0.230136
6    Male  68.785081  183.927889  0.628331
7    Male  68.348516  167.971110  0.514865
8    Male  67.018950  175.929440  0.169301
9    Male  63.456494  156.399676 -0.756607
10   Male  71.195382  186.604926  1.254786
11   Male  71.640805  213.741169  1.370554
12   Male  64.766329  167.127461 -0.416171
13   Male  69.283070  189.446181  0.757762
14   Male  69.243732  186.434168  0.747538
15   Male  67.645620  172.186930  0.332177
16   Male  72.418317  196.028506  1.572635
17   Male  63.974326  172.883470 -0.622019
18   Male  69.640060  185.983958  0.850546
19   Male  67.936005  182.426648  0.407650

In [4]:
no_outlier_zscore=df[(df.zscore<3) & (df.zscore>-3)]
no_outlier_zscore.head(20)

   Gender     Height      Weight    zscore
0    Male  73.847017  241.893563  1.943964
1    Male  68.781904  162.310473  0.627505
2    Male  74.110105  212.740856  2.012343
3    Male  71.730978  220.042470  1.393991
4    Male  69.881796  206.349801  0.913375
5    Male  67.253016  152.212156  0.230136
6    Male  68.785081  183.927889  0.628331
7    Male  68.348516  167.971110  0.514865
8    Male  67.018950  175.929440  0.169301
9    Male  63.456494  156.399676 -0.756607
10   Male  71.195382  186.604926  1.254786
11   Male  71.640805  213.741169  1.370554
12   Male  64.766329  167.127461 -0.416171
13   Male  69.283070  189.446181  0.757762
14   Male  69.243732  186.434168  0.747538
15   Male  67.645620  172.186930  0.332177
16   Male  72.418317  196.028506  1.572635
17   Male  63.974326  172.883470 -0.622019
18   Male  69.640060  185.983958  0.850546
19   Male  67.936005  182.426648  0.407650

In [5]:
no_outlier_zscore.to_csv('outlier_weight_height.csv')

In [6]:
no_outlier_zscore

      Gender     Height      Weight    zscore
0       Male  73.847017  241.893563  1.943964
1       Male  68.781904  162.310473  0.627505
2       Male  74.110105  212.740856  2.012343
3       Male  71.730978  220.042470  1.393991
4       Male  69.881796  206.349801  0.913375
...      ...        ...         ...       ...
9995  Female  66.172652  136.777454 -0.050658
9996  Female  67.067155  170.867906  0.181830
9997  Female  63.867992  128.475319 -0.649655
9998  Female  69.034243  163.852461  0.693090
9999  Female  61.944246  113.649103 -1.149651

[9993 rows x 4 columns]

In [7]:
data=pd.read_csv("pivot_data.csv")
total_data=data.shape[0]+1

In [8]:
total_val=no_outlier_zscore.shape[0]+1
total_val

9994

In [9]:
def x_formula():
    square_x=(no_outlier_zscore["Height"]**2)
    total_x=0
    for i in square_x:
        total_x=total_x+i
    return total_x
x_formula()

44157778.25239477

In [10]:
def variance_x():
    return (x_formula()/total_val)-(no_outlier_zscore["Height"].mean())**2
variance_x()

14.267521934249089

In [11]:
def y_formula():
    square_y=(no_outlier_zscore["Weight"]**2)
    total_x=0
    for i in square_y:
        total_x=total_x+i
    return total_x
y_formula()

270614290.97149295

In [12]:
def variance_y():
    return (y_formula()/total_val)-(no_outlier_zscore["Height"].mean())**2
variance_x()

14.267521934249089

In [13]:
def x_y_formula():
    multiply_x_y=(no_outlier_zscore["Height"]*no_outlier_zscore["Weight"])
    total_x=0
    for i in multiply_x_y:
        total_x=total_x+i
    return total_x
x_y_formula()

108180535.09212396

In [14]:
def x_Y_mean():
    return (no_outlier_zscore["Height"]*no_outlier_zscore["Weight"]).mean()
x_Y_mean()

10825.631451228255

In [15]:
def variance_x_y():
    return (x_y_formula()/total_val)-(x_Y_mean())**2
variance_x()

14.267521934249089

In [16]:
# def co_varance():
#     return (variance_x_y()/sqrt(variance_x()*variance_y()))
# co_varance()

In [17]:
def co_varance():
    return (variance_x_y()/(variance_x()*variance_y()**0.5))
co_varance()

-54545.43275601595

In [18]:
df[["Height","Weight"]].cov()

            Height       Weight
Height   14.803473   114.242656
Weight  114.242656  1030.951855

In [19]:
#covariance formula x
def a_formula():
    square_a=data["windspeed"]**2
    total=0
    for i in square_a:
        total=total+i
    return total
a_formula()

def variance_a():
    return ((a_formula()/total_data)-(data["windspeed"].mean())**2)
variance_a()

-1.8864197530864146

In [20]:
#covariance formula y
def b_formula():
    square_a=data["temperature"]**2
    total=0
    for i in square_a:
        total=total+i
    return total
b_formula()

def variance_b():
    return ((b_formula()/total_data)-(data["temperature"].mean())**2)
variance_b()

-19.21111111111111

In [21]:
#covariance formula xy
def a_b_formula():
    square_a_b=data["windspeed"]*data["temperature"]
    total=0
    for i in square_a_b:
        total=total+i
    return total

def a_b_mean():
    return (data["windspeed"]*data["temperature"]).mean()
def variance_a_b():
    return ((a_b_formula()/total_data)-a_b_mean())
variance_a_b()

-22.655555555555537

In [22]:
#covariance
def covariance():
    return variance_a_b()/(variance_a()*variance_b())**0.5
covariance()

-3.7633906946635896