In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Central_Tendency_discrete_series.csv")
df

    x  f
0   4  3
1   9  2
2  10  7
3  15  4
4  18  5

In [4]:
df["x"]

0     4
1     9
2    10
3    15
4    18
Name: x, dtype: int64

In [5]:
df["x"].mean()

11.2

In [7]:
min=df["x"].min()
min

4

In [8]:
max=df["x"].max()
max

18

In [9]:
range=max-min
range

14

In [10]:
df["f"]

0    3
1    2
2    7
3    4
4    5
Name: f, dtype: int64

In [11]:
df["f"].mean()

4.2

In [12]:
min=df["f"].min()
min

2

In [13]:
max=df["f"].max()
max

7

In [14]:
range=max-min
range

5