In [1]:
import pandas as pd

In [40]:
data=pd.read_csv("outlier_weight_height.csv")
df=pd.read_csv("pivot_data.csv")

In [41]:
df

       date      city  event  windspeed  temperature
0  1/1/2017        us   Rain          6           32
1  1/4/2017  new york  Sunny          8           34
2  1/4/2017    canada  Sunny          6           20
3  1/4/2017     mumbi   Rain          9           12
4  1/4/2017        BD   Rain         10           34
5  1/4/2017  new york  Sunny          7           28
6  1/4/2017    canada  Sunny          4           36
7  1/4/2017        us   Rain         11           32
8  1/4/2017        BD   Rain          7           45

In [42]:
class PCC:
    def  __init__(self,x,y,data):
        self.data_x=x
        self.data_y=y
        self.data=data
    def total(self):
        return data.shape[0]
        
    def a_formula(self):
        square_a=self.data_x**2
        total=0
        for i in square_a:
            total=total+i
        return total

    def variance_a(self):
        return ((self.a_formula()/self.total())-(self.data_x.mean())**2)
    
        #covariance formula y
    def b_formula(self):
        square_a=self.data_y**2
        total=0
        for i in square_a:
            total=total+i
        return total

    def variance_b(self):
        return ((self.b_formula()/self.total())-(self.data_y.mean())**2)
    def pcc(self):
        return (self.variance_a()*self.variance_b())/(self.data_x.std()*self.data_y.std())
    def Correlation(self):
        self.total()*
obj=PCC(df["windspeed"],df["temperature"],df)    
obj.variance_a()
obj.variance_b()
obj.pcc()

2514.1618864570664