In [ ]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [ ]:
# import codecs
# f = codecs.open("transfort.csv", "r", "utf-16")

In [ ]:
# df=pd.read_csv(f)

In [ ]:
df=pd.read_csv("Iris.csv")

In [ ]:
df=df.drop("Id",axis=1)

In [ ]:
df=df.rename(columns={"species":"label"})

In [ ]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

#train test split

In [ ]:
x=df.iloc[:,0:4]
y=df.iloc[:,4:5]

In [ ]:
def train_test_split(x,y,test_size):
  #isinstance check it is float number or not
  if isinstance (test_size,float):
    test_size=round(test*len(df))
  indices_x=list(x.index)
  indices_y=list(y.index)
  #random.sample Lift up random number in data set
  train_indices_x=random.sample(indices_x,test_size)
  train_indices_y=random.sample(indices_y,test_size)
  test_x=x.iloc[train_indices_x]
  test_y=y.iloc[train_indices_y]
  train_x=x.drop(train_indices_x)
  train_y=y.drop(train_indices_y)
  return train_x,train_y,test_x,test_y

In [ ]:
train_x,train_y,test_x,test_y=train_test_split(x,y,50)

In [ ]:
test_y.index

Int64Index([ 61, 119, 137, 130, 121,  42, 143,   6,  13, 132,  74,  48,  86,
             50,  72,   5,  68, 113, 101, 128, 147, 100,  94,   2, 148,   9,
            114,  35, 140,  33,  36,  73,  65,  31,  66, 112,  24,  88,  32,
             63,  79,  19,  82,  64,  55, 102,  38,   0, 142,  54],
           dtype='int64')

In [ ]:
train_y

            Species
1       Iris-setosa
3       Iris-setosa
4       Iris-setosa
7       Iris-setosa
8       Iris-setosa
..              ...
141  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
149  Iris-virginica

[100 rows x 1 columns]

In [ ]:
indices=list(df.index)

In [ ]:
def random_num(start,end):
  k=[]
  for i in range(start,end):
    k.append(i)
  return k[2]
random_num(1,4)

3

In [ ]:
for i in range(5):
  random_num(1,4)+i

In [ ]:
n=random.randint(2,3)

In [ ]:
train_indices=random.sample(indices,20)

In [ ]:
test_df=df.iloc[train_indices]

In [ ]:
train_df=df.drop(train_indices)

In [ ]:
len(df)

150

In [ ]:
numbers = [1, 2, 3, 4, 2, 5]

# check if numbers is instance of list
result = isinstance(numbers, tuple)

print(result)

False

In [ ]:
test=0.31
if isinstance (test,float):
  test_size=round(test*len(df))
  print(test_size)

46

In [ ]:
round(0.31*150)

46

In [ ]:
k=0.95*100
k

95.0

In [ ]:
# df[Class].unique()

#entropy 
summation(-p log2 p)

In [ ]:
def find_entropy(df):
  Class=df.keys()[-1]
  values=df[Class].unique()
  k=[]
  entropy=0
  for value in values:
    prob=df[Class].value_counts()[value]/len(df[Class])
    entropy+=-prob *np.log2(prob)
    k.append(entropy)
  return k
find_entropy(df)

[0.5283208335737187, 1.0566416671474375, 1.584962500721156]

In [ ]:
train_y

            Species
1       Iris-setosa
3       Iris-setosa
4       Iris-setosa
7       Iris-setosa
8       Iris-setosa
..              ...
141  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
149  Iris-virginica

[100 rows x 1 columns]

In [ ]:
Class=df.keys()[0]
Class

'SepalLengthCm'

In [ ]:
values=df[Class].unique()
values

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

In [ ]:
# data=df[df.sepal_length==5.1 ]
# length1=len(data)

In [ ]:
# data[data.label == "Iris-versicolor"]

In [ ]:
# df[Class].value_counts()["Iris-setosa"]/len(df[Class])

In [ ]:
# len(df[df.label=="Iris-setosa"])

#entropy attribute
summation(-p log2 p)

In [ ]:
def find_entropy_attribute(train_x,train_y,attrubute_index):
  Class=train_y.keys()[-1]
  dependent_variable=train_y[Class].unique()
  attribute=train_x.keys()[attrubute_index]
  Independent_variable=train_x[attribute].unique()
  avg_entropy=0
  for value in Independent_variable:
    entropy=0
    for value1 in dependent_variable:
      num=len(attribute[attribute==value][Class==value1])
      den = len(attribute[attribute==value])
      prob=num/den
      entropy+= -prob*np.log2(prob + 0.000001)
    avg_entropy += (den/len(train_x))*entropy
  return avg_entropy

In [ ]:
find_entropy_attribute(train_x,train_y,0)

-1.3417057170636114e-06

In [ ]:
avg_entropy=0
for i in  range(1,3):
  entropy=0
  for j in range(1,3):
    entropy=entropy+j
  avg_entropy=avg_entropy+j
  print(i,"=",avg_entropy)

1 = 2
2 = 4

#information gain

IG(S, a) = H(S) â€“ H(S | a)

In [ ]:
data=[train_x,train_y]

In [ ]:
class Decision_Tree:
  def find_entropy(df):
    Class = df.keys()[-1]
    values = df[Class].unique()
    entropy = 0
    for value in values:
      prob = df[Class].value_counts()[value]/len(df[Class])
      entropy += -prob * np.log2(prob)
    return np.float(entropy)


  # Find entropy attribute
  def find_entropy_attribute(df, attribute):
    Class = df.keys()[-1]
    target_values = df[Class].unique()
    attribute_values = df[attribute].unique()
    avg_entropy = 0
    for value in attribute_values:
      entropy = 0
      for value1 in target_values:
        num = len(df[attribute][df[attribute] == value][df[Class] == value1])
        den = len(df[attribute][df[attribute] == value])
        prob = num/den
        entropy += -prob * np.log2(prob + 0.000001)
      avg_entropy += (den/len(df))*entropy
    return np.float(avg_entropy)



  # Find Winner
  def find_winner(df):
    IG = []
    for key in df.keys()[:-1]:
      IG.append(find_entropy(df) - find_entropy_attribute(df, key))
    return df.keys()[:-1][np.argmax(IG)]

In [ ]:
obj=Decision_Tree()

In [ ]:
  def find_entropy(df):
    Class = df.keys()[-1]
    values = df[Class].unique()
    entropy = 0
    for value in values:
      prob = df[Class].value_counts()[value]/len(df[Class])
      entropy += -prob * np.log2(prob)
    return np.float(entropy)

In [ ]:
find_entropy(df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

1.584962500721156

In [ ]:
  # Find entropy attribute
  def find_entropy_attribute(df, attribute):
    Class = df.keys()[-1]
    target_values = df[Class].unique()
    attribute_values = df[attribute].unique()
    avg_entropy = 0
    for value in attribute_values:
      entropy = 0
      for value1 in target_values:
        num = len(df[attribute][df[attribute] == value][df[Class] == value1])
        den = len(df[attribute][df[attribute] == value])
        prob = num/den
        entropy += -prob * np.log2(prob + 0.000001)
      avg_entropy += (den/len(df))*entropy
      return den,"/",len(df),"*",entropy

In [ ]:
# for key in df.keys()[:-1]:
#   print(find_entropy_attribute(df, key))

In [ ]:
# l=[]
# for key in df.keys()[:-1]:
#   print(find_entropy(df),"-",find_entropy_attribute(df, key))
#   print(find_entropy(df)-find_entropy_attribute(df, key)) 
#   print("=======================")
#   l.append(find_entropy(df)-find_entropy_attribute(df, key))
# print(l,"=",np.argmax(l))

In [ ]:
df.keys()[:-1][np.argmax(0)]

'SepalLengthCm'

#get_subtable

In [ ]:
class Decision_Tree:
  def find_entropy(df):
    Class = df.keys()[-1]
    values = df[Class].unique()
    entropy = 0
    for value in values:
      prob = df[Class].value_counts()[value]/len(df[Class])
      entropy += -prob * np.log2(prob)
    return np.float(entropy)


  # Find entropy attribute
  def find_entropy_attribute(df, attribute):
    Class = df.keys()[-1]
    target_values = df[Class].unique()
    attribute_values = df[attribute].unique()
    avg_entropy = 0
    for value in attribute_values:
      entropy = 0
      for value1 in target_values:
        num = len(df[attribute][df[attribute] == value][df[Class] == value1])
        den = len(df[attribute][df[attribute] == value])
        prob = num/den
        entropy += -prob * np.log2(prob + 0.000001)
      avg_entropy += (den/len(df))*entropy
    return np.float(avg_entropy)



  # Find Winner
  def find_winner(df):
    IG = []
    for key in df.keys()[:-1]:
      IG.append(find_entropy(df) - find_entropy_attribute(df, key))
    return df.keys()[:-1][np.argmax(IG)]

  def get_subtable(df, attribute, value):
    return df[df[attribute] == value].reset_index(drop = True)

In [ ]:
def find_entropy(df):
  Class = df.keys()[-1]
  values = df[Class].unique()
  entropy = 0
  for value in values:
    prob = df[Class].value_counts()[value]/len(df[Class])
    entropy += -prob * np.log2(prob)
  return np.float(entropy)

In [ ]:
# Find entropy attribute
def find_entropy_attribute(df, attribute):
  Class = df.keys()[-1]
  target_values = df[Class].unique()
  attribute_values = df[attribute].unique()
  avg_entropy = 0
  for value in attribute_values:
    entropy = 0
    for value1 in target_values:
      num = len(df[attribute][df[attribute] == value][df[Class] == value1])
      den = len(df[attribute][df[attribute] == value])
      prob = num/den
      entropy += -prob * np.log2(prob + 0.000001)
    avg_entropy += (den/len(df))*entropy
  return np.float(avg_entropy)

In [ ]:
# Find Winner
def find_winner(df):
  IG = []
  for key in df.keys()[:-1]:
    IG.append(find_entropy(df) - find_entropy_attribute(df, key))
  return df.keys()[:-1][np.argmax(IG)]

In [ ]:
def get_subtable(df, attribute, value):
  return df[df[attribute] == value].reset_index(drop = True)

In [ ]:
node = find_winner(df)
print(node)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ipykernel import kernelapp as app

PetalLengthCm

In [ ]:
attvalue = np.unique(df[node])
print(attvalue)

[1.  1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.9 3.  3.3 3.5 3.6 3.7 3.8 3.9 4.  4.1
 4.2 4.3 4.4 4.5 4.6 4.7 4.8 4.9 5.  5.1 5.2 5.3 5.4 5.5 5.6 5.7 5.8 5.9
 6.  6.1 6.3 6.4 6.6 6.7 6.9]

In [ ]:
df[node]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

In [ ]:
Class = df.keys()[-1]
Class

'Species'

In [ ]:
# tree = {}
# tree[node] = {}
# tree

In [ ]:
# for i in range(5):
#   tree[node] = {i}
#   print(tree)

In [ ]:
# l=[9,0]
# for val in attvalue:
#   if val == 1:
#     tree[node][val]=l[0]

In [ ]:
  # for value in attvalue:
  #   tree = {}
  #   tree[node] = {}
  #   # print(df[df[node] == value].reset_index(drop = True))
  #   # subtable = get_subtable(df,node,value)

  #   subtable=get_subtable(df, node, value)
  #   values,index=np.unique(subtable[Class]return_counts = True)
  #   print(tree[node][value]=values[0])

# desition_tree bild

In [ ]:
from sklearn.tree import plot_tree
from sklearn import tree

In [ ]:
class Decision_Tree:
  def __init__(self):
    pass
  def find_entropy(self,df):
    Class = df.keys()[-1]
    values = df[Class].unique()
    entropy = 0
    for value in values:
      prob = df[Class].value_counts()[value]/len(df[Class])
      entropy += -prob * np.log2(prob)
    return np.float(entropy)


  # Find entropy attribute
  def find_entropy_attribute(self,df, attribute):
    Class = df.keys()[-1]
    target_values = df[Class].unique()
    attribute_values = df[attribute].unique()
    avg_entropy = 0
    for value in attribute_values:
      entropy = 0
      for value1 in target_values:
        num = len(df[attribute][df[attribute] == value][df[Class] == value1])
        den = len(df[attribute][df[attribute] == value])
        prob = num/den
        entropy += -prob * np.log2(prob + 0.000001)
      avg_entropy += (den/len(df))*entropy
    return np.float(avg_entropy)



  # Find Winner
  def find_winner(self,df):
    IG = []
    for key in df.keys()[:-1]:
      IG.append(self.find_entropy(df) - self.find_entropy_attribute(df, key))
    return df.keys()[:-1][np.argmax(IG)]

  def get_subtable(self,df, attribute, value):
    return df[df[attribute] == value].reset_index(drop = True)



  def buildtree(self,df, tree = None):
    node = find_winner(df)
    attvalue = np.unique(df[node])
    Class = df.keys()[-1]
    if tree is None:
      tree = {}
      tree[node] = {}
    for value in attvalue:
      subtable = self.get_subtable(df,node,value)
      Clvalue, counts = np.unique(subtable[Class], return_counts = True)
      if len(counts) == 1:
        tree[node][value] = Clvalue[0]
      else:
        tree[node][value] = self.buildtree(subtable)
    return tree

In [ ]:
obj=Decision_Tree()

In [ ]:
# obj.find_winner(df)
tree=obj.buildtree(df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ipykernel import kernelapp as app

In [ ]:
# tree.export_text(obj)

In [ ]:
import pprint
pprint.pprint(tree)

{'PetalLengthCm': {1.0: 'Iris-setosa',
                   1.1: 'Iris-setosa',
                   1.2: 'Iris-setosa',
                   1.3: 'Iris-setosa',
                   1.4: 'Iris-setosa',
                   1.5: 'Iris-setosa',
                   1.6: 'Iris-setosa',
                   1.7: 'Iris-setosa',
                   1.9: 'Iris-setosa',
                   3.0: 'Iris-versicolor',
                   3.3: 'Iris-versicolor',
                   3.5: 'Iris-versicolor',
                   3.6: 'Iris-versicolor',
                   3.7: 'Iris-versicolor',
                   3.8: 'Iris-versicolor',
                   3.9: 'Iris-versicolor',
                   4.0: 'Iris-versicolor',
                   4.1: 'Iris-versicolor',
                   4.2: 'Iris-versicolor',
                   4.3: 'Iris-versicolor',
                   4.4: 'Iris-versicolor',
                   4.5: {'SepalLengthCm': {4.9: 'Iris-virginica',
                                           5.4: 'Iris-versicolor',
                                           5.6: 'Iris-versicolor',
                                           5.7: 'Iris-versicolor',
                                           6.0: 'Iris-versicolor',
                                           6.2: 'Iris-versicolor',
                                           6.4: 'Iris-versicolor'}},
                   4.6: 'Iris-versicolor',
                   4.7: 'Iris-versicolor',
                   4.8: {'SepalLengthCm': {5.9: 'Iris-versicolor',
                                           6.0: 'Iris-virginica',
                                           6.2: 'Iris-virginica',
                                           6.8: 'Iris-versicolor'}},
                   4.9: {'SepalWidthCm': {2.5: 'Iris-versicolor',
                                          2.7: 'Iris-virginica',
                                          2.8: 'Iris-virginica',
                                          3.0: 'Iris-virginica',
                                          3.1: 'Iris-versicolor'}},
                   5.0: {'SepalLengthCm': {5.7: 'Iris-virginica',
                                           6.0: 'Iris-virginica',
                                           6.3: 'Iris-virginica',
                                           6.7: 'Iris-versicolor'}},
                   5.1: {'SepalLengthCm': {5.8: 'Iris-virginica',
                                           5.9: 'Iris-virginica',
                                           6.0: 'Iris-versicolor',
                                           6.3: 'Iris-virginica',
                                           6.5: 'Iris-virginica',
                                           6.9: 'Iris-virginica'}},
                   5.2: 'Iris-virginica',
                   5.3: 'Iris-virginica',
                   5.4: 'Iris-virginica',
                   5.5: 'Iris-virginica',
                   5.6: 'Iris-virginica',
                   5.7: 'Iris-virginica',
                   5.8: 'Iris-virginica',
                   5.9: 'Iris-virginica',
                   6.0: 'Iris-virginica',
                   6.1: 'Iris-virginica',
                   6.3: 'Iris-virginica',
                   6.4: 'Iris-virginica',
                   6.6: 'Iris-virginica',
                   6.7: 'Iris-virginica',
                   6.9: 'Iris-virginica'}}

In [ ]:
node = find_winner(df)
node

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ipykernel import kernelapp as app

'PetalLengthCm'

In [ ]:
attvalue = np.unique(df[node])
attvalue

array([1. , 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.9, 3. , 3.3, 3.5, 3.6,
       3.7, 3.8, 3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9,
       5. , 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6. , 6.1, 6.3,
       6.4, 6.6, 6.7, 6.9])

In [ ]:
Class = df.keys()[-1]
Class

'Species'

In [ ]:
tree = None

In [ ]:
if tree is None:
  tree = {}
  tree[node] = {}
  print(tree[node])

{}

In [ ]:
for value in attvalue:
  subtable = get_subtable(df,node,value)
  Clvalue, counts = np.unique(subtable[Class], return_counts = True)
  print(len(counts))

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
2
1
1
2
2
2
2
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [ ]:
node = find_winner(df)
attvalue = np.unique(df[node])
Class = df.keys()[-1]
if tree is None:
  tree = {}
  tree[node] = {}
for value in attvalue:
  # subtable = get_subtable(df,node,value)
  # Clvalue, counts = np.unique(subtable[Class], return_counts = True)
  # if len(counts) == 1:
    # tree[node][value] = Clvalue[0]
  print([node],[value])
  # print(tree[node][value])
  # else:
  #   tree[node][value] = buildtree(subtable)

['PetalLengthCm'] [1.0]
['PetalLengthCm'] [1.1]
['PetalLengthCm'] [1.2]
['PetalLengthCm'] [1.3]
['PetalLengthCm'] [1.4]
['PetalLengthCm'] [1.5]
['PetalLengthCm'] [1.6]
['PetalLengthCm'] [1.7]
['PetalLengthCm'] [1.9]
['PetalLengthCm'] [3.0]
['PetalLengthCm'] [3.3]
['PetalLengthCm'] [3.5]
['PetalLengthCm'] [3.6]
['PetalLengthCm'] [3.7]
['PetalLengthCm'] [3.8]
['PetalLengthCm'] [3.9]
['PetalLengthCm'] [4.0]
['PetalLengthCm'] [4.1]
['PetalLengthCm'] [4.2]
['PetalLengthCm'] [4.3]
['PetalLengthCm'] [4.4]
['PetalLengthCm'] [4.5]
['PetalLengthCm'] [4.6]
['PetalLengthCm'] [4.7]
['PetalLengthCm'] [4.8]
['PetalLengthCm'] [4.9]
['PetalLengthCm'] [5.0]
['PetalLengthCm'] [5.1]
['PetalLengthCm'] [5.2]
['PetalLengthCm'] [5.3]
['PetalLengthCm'] [5.4]
['PetalLengthCm'] [5.5]
['PetalLengthCm'] [5.6]
['PetalLengthCm'] [5.7]
['PetalLengthCm'] [5.8]
['PetalLengthCm'] [5.9]
['PetalLengthCm'] [6.0]
['PetalLengthCm'] [6.1]
['PetalLengthCm'] [6.3]
['PetalLengthCm'] [6.4]
['PetalLengthCm'] [6.6]
['PetalLengthCm'] [6.7]
['PetalLengthCm'] [6.9]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ipykernel import kernelapp as app

In [ ]:
# z=-(1/2)*(np.log2(1/2))-(1/2)*(np.log2(1/))
# z

In [ ]:
# k=0.721-((3/5)*0.92)
# k

In [ ]:
# l=[10.04,2,3,4,5,10.03]
# j=pd.DataFrame(l)
# j.max()